<div class="bg-gradient-to-t from-gray-950 to-gray-900 w-full h-[700px] !cursor-default">
  <div class="flex flex-row gap-10 w-full justify-between px-80 pt-40">
    <div class="px-3 info flex flex-col justify-between my-14">
      <div class="greet w-fit px-3 h-12 bg-slate-300 relative text-black rounded-2xl flex justify-center items-center">
        Hey there!
        <div class="absolute bottom-[-8px] right-2 transform -translate-x-1/2 w-0 h-0 border-l-8 border-l-transparent border-r-8 border-r-transparent border-t-8 border-slate-300"></div>
      </div>
      <div class="flex flex-col text-6xl font-semibold ml-8 custom-font styled-text">
        <span class="first-name text-slate-200"><span></span>Rezo</span> 
        <span class="last-name ml-14 text-slate-300">Alikadze</span>
      </div>
      <div class="more-info text-slate-300 mt-5 text-balance text-2xl leading-8">
        <span class="text-slate-200 font-bold">Software Developer</span>, dedicated to building efficient and user-friendly web applications.
      </div>
    </div>
  
    <div class="my-image">
      <img class="w-[30rem] shadow-2xl shadow-gray-800 rounded-2xl" src="assets/images/pexels-photo-2379004.jpeg" alt="Me">
    </div>
  </div>

</div>