<div class="bg-gradient-to-b from-gray-800 to-gray-700 w-full parallax">
    <div class="w-full flex justify-center h-fit text-4xl font-bold text-slate-200 pt-56 -ml-4 -mb-3 glowing-text">
        PROJECTS
    </div>

    <div class="main-container pt-16 -ml-14">
        <section class="flex justify-center items-center panel red fade-in">
            <app-project-card
                heading="Caesar Games"
                headingColor="bg-fuchsia-300"
                borderColor="border-fuchsia-500"
                projectURL="https://beta.caesargames.net/"
                imgSrc="./assets/images/img_3.png"
            ></app-project-card>
        </section>

        <section class="flex justify-center items-center w-[300px] h-[600px] panel yellow fade-in">
            <app-project-card
                heading="GMG Arch Group"
                headingColor="bg-blue-300"
                borderColor="border-blue-500"
                githubURL="https://github.com/Alikadze/GMG-Arch-group"
                imgSrc="./assets/images/img_2.png"
            ></app-project-card>
        </section>

        <section class="flex justify-center items-center w-[300px] panel blue fade-in">
            <app-project-card
                heading="Task Manager"
                headingColor="bg-red-300"
                borderColor="border-red-500"
                githubURL="https://github.com/Alikadze/Task-Manager"
                projectURL="https://task-manager-e76b7.web.app/"
                imgSrc="./assets/images/img.png"
            ></app-project-card>
        </section>

        <section class="flex justify-center items-center w-[300px] panel blue fade-in">
            <app-project-card
                heading="Ecommerce"
                headingColor="bg-green-300"
                borderColor="border-green-500"
                githubURL="https://github.com/Alikadze/Ecommerce"
                projectURL="https://ecommerce-44b58.web.app/"
                imgSrc="./assets/images/img_1.png"
            ></app-project-card>
        </section>
    </div>
</div>
